@import '~@angular/material/theming';

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.containerSize {
    position:fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvasSize {
    background-color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slider-container {
  margin-left: 10px;
}

.mat-mdc-slider {
  max-width: 300px;
  width: 100%;
}

.mat-slider {
  @include mat.slider-overrides((
    ripple-color: orange,
    hover-state-layer-color: red,
  ));
}
